{
  "openapi": "3.1.0",
  "info": {
    "title": "BotShield SDK A API",
    "version": "1.0.0",
    "description": "BotShield SDK A - Signal-only verification without anchoring. Momentary human presence check with no persistence.",
    "contact": {
      "name": "BotShield Support",
      "email": "support@botshield.ai",
      "url": "https://botshield.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.botshield.ai/operations",
      "description": "Production"
    },
    {
      "url": "http://localhost:9991/operations",
      "description": "Local development"
    }
  ],
  "paths": {
    "/sdk/create-session": {
      "post": {
        "operationId": "SdkCreate_session",
        "summary": "Create Session",
        "description": "Initialize a verification session for your platform. Returns a session token (`bss_*`) used to authorize subsequent operations like creating verification links. Each session has a configurable expiration window.",
        "tags": [
          "SDK"
        ],
        "responses": {
          "200": {
            "description": "Session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "anchor_grant_token",
                        "anchor_grant_expires_at",
                        "anchor_grant_expires_in_seconds",
                        "session_token",
                        "expires_at",
                        "expires_in_seconds",
                        "organization"
                      ],
                      "properties": {
                        "anchor_grant_token": {
                          "type": "string",
                          "description": "Session token (Bearer bss_*). Use this to authorize create-verification-link requests."
                        },
                        "anchor_grant_expires_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 timestamp when the session expires"
                        },
                        "anchor_grant_expires_in_seconds": {
                          "type": "integer",
                          "description": "Seconds until session expiration"
                        },
                        "session_token": {
                          "type": "string",
                          "description": "Alias of anchor_grant_token. Either field can be used."
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "expires_in_seconds": {
                          "type": "integer"
                        },
                        "organization": {
                          "type": "object",
                          "required": [
                            "id",
                            "environment"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Clerk Organization ID (partner)"
                            },
                            "environment": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "partner_user_id": {
                    "type": "string",
                    "description": "Your platform's internal user identifier for the user being verified"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom metadata to attach to this session"
                  }
                },
                "required": []
              }
            }
          }
        }
      }
    },
    "/sdk/create-verification-link": {
      "post": {
        "operationId": "SdkCreate_verification_link",
        "summary": "Create Verification Link",
        "description": "Generate a verification request for a specific user action. Returns a deep link, web URL, and QR code URL that you present to the user. When the user completes verification, the result is delivered via webhook or available via polling.",
        "tags": [
          "SDK"
        ],
        "responses": {
          "200": {
            "description": "Verification link created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "request_id",
                        "deep_link",
                        "web_url",
                        "qr_code_url",
                        "expires_at",
                        "organization"
                      ],
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "description": "Unique identifier for this verification request. Use to poll status or match webhook callbacks."
                        },
                        "deep_link": {
                          "type": "string",
                          "description": "Deep link URL to open the BotShield app directly (mobile)"
                        },
                        "web_url": {
                          "type": "string",
                          "description": "Web URL for browser-based verification flow"
                        },
                        "qr_code_url": {
                          "type": "string",
                          "description": "URL to a QR code image for in-store or kiosk scenarios"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "sdk_type": {
                          "type": "string",
                          "enum": [
                            "signal",
                            "presence"
                          ]
                        },
                        "scope": {
                          "type": "string",
                          "description": "Explicit action scope. Evaluated at action time."
                        },
                        "organization": {
                          "type": "object",
                          "required": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email of the user being verified (used for delivery if applicable)"
                  },
                  "return_url": {
                    "type": "string",
                    "description": "URL to redirect the user back to after verification completes"
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL where BotShield will POST the verification result when complete"
                  },
                  "scope": {
                    "type": "string",
                    "description": "Action scope for this verification (e.g., 'checkout.complete', 'account.create')"
                  },
                  "sdk_type": {
                    "type": "string",
                    "enum": [
                      "signal",
                      "presence"
                    ],
                    "description": "SDK type. Use 'signal' for SDK A (currently available)"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom metadata attached to the verification request (e.g., order_id, amount)"
                  }
                },
                "required": []
              }
            }
          }
        }
      }
    },
    "/sdk/logout": {
      "post": {
        "operationId": "SdkLogout",
        "summary": "Revoke Session",
        "description": "Revoke an active session token. Use this for cleanup after a verification flow completes, or to invalidate a session that is no longer needed.",
        "tags": [
          "SDK"
        ],
        "responses": {
          "200": {
            "description": "Session token revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "token_found": {
                      "type": "boolean"
                    },
                    "revoked_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "session_token": {
                    "type": "string",
                    "description": "The session token (bss_*) to revoke"
                  }
                },
                "required": [
                  "session_token"
                ]
              }
            }
          }
        }
      }
    },
    "/verification/status": {
      "get": {
        "operationId": "verification/status",
        "summary": "Check Verification Status",
        "description": "Poll the status of a verification request by request_id. Returns the current status and, when complete, the Human Presence Signal (HPS) as a signed JWT verification token. Use this as an alternative to webhooks.",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "request_id",
            "in": "query",
            "required": true,
            "description": "The verification request ID returned from create-verification-link",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "description": "The verification request ID"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["pending", "verified", "expired", "failed"],
                          "description": "Current verification status"
                        },
                        "verification_token": {
                          "type": "string",
                          "description": "Signed JWT containing the Human Presence Signal (HPS). Only present when status is 'verified'."
                        },
                        "verified_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when verification completed. Only present when status is 'verified'."
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When this verification request expires"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your BotShield API key (e.g., bs_live_sk_... for production, bsk_test_... for test). For create-verification-link, use the session token (bss_*) returned from create-session."
      }
    },
    "schemas": {
      "InvalidInputError": {
        "type": "object",
        "required": [
          "message",
          "input",
          "errors"
        ],
        "properties": {
          "message": {
            "type": "string",
            "example": "Invalid input provided"
          },
          "input": {
            "type": "object",
            "additionalProperties": true
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "propertyPath",
                "invalidValue",
                "message"
              ],
              "properties": {
                "propertyPath": {
                  "type": "string",
                  "example": "email"
                },
                "invalidValue": {
                  "description": "The invalid value that was provided"
                },
                "message": {
                  "type": "string",
                  "example": "must be a valid email address"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "statusCode"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "statusCode": {
                "type": "integer"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "SDK",
      "description": "Core SDK A operations for session management and verification link creation"
    },
    {
      "name": "Verification",
      "description": "Verification status polling and result retrieval"
    }
  ]
}